body{
    margin: 0;
}

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

header div{
    display: flex;

}

header img{
    height: 70%;

}

nav{
    height: 40px;
    background-color: rgb(4, 4, 83);
    display: flex;
    align-items: center;
    justify-content: space-around;

}
nav a{
    text-decoration: none;
    font-size: 15pt;
    color: white;
}

section{
    height: 800px;
    display: flex;
    align-items: center;
}

button{
    border-radius: 70px;
    background-color:  rgb(4, 4, 83);
    color: white;
}
button

footer{
    background-color: gray;
    height: 30px;
}